{% extends 'user/base.html' %}

{% block name %}Simon{% endblock %}

{% block content %}
<p>RESUME
<br><br>
Name: Simon Kwilinski<br>
Age: 19.8<br>
Favorite Color: red<br>
Highest Degree: High School Diploma<br>
<br><br>
Work Experience:<br>
1. CSCI200 TA<br>
I write excessive amounts of homework for freshmen in a C++ course.<br>
<br><br>
2. Templeton Photographer<br>
I photograph things.<br>
<br><br>
3. Waltonian Photographer<br>
I photograph other things.<br>
<br><br>
4. Tutoring<br>
I help tutor students in C++ who are struggling with the difficult problems that their professor's TA assigned them.</p>
{% endblock %}
