<!DOCTYPE html>
<html lang="en">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ML Team 3</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('user.index')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('user.jermaine_index')}}">Jermaine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('user.sean_index')}}">Sean</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('user.simon_index')}}">Simon</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{url_for('user.trenton_index')}}">Trenton</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Nav Bar code from  https://getbootstrap.com/docs/5.1/components/navbar/-->
<!-- Help implementing it from https://www.youtube.com/watch?v=iBBciQeFy18 -->

<body>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>
</body>
</html>
