<!DOCTYPE html>
<html>
	<main>

		<head>
			<title> ML Team 3</title>
			<link rel = "stylesheet" href = "styles/main.css">
		</head>

		<body>
			<header>
						<nav>
							<div class = "navbar">
								<a href = "#"> Home </a> <!--- Current Directory aka Home Page -->
								<a href = "jermaine"> Jermaine </a>
								<a href = "sean"> Sean </a>
								<a href = "simon"> Simon </a>
								<a href = "trenton"> Trenton </a>
								<a href = "weather"> Choose Your State </a>
						</nav>

				</div>
			</header>

        </body>
    </main>
</html>

<!-- Source Code for Navbar below: -->
<!-- https://www.geeksforgeeks.org/bootstrap-navigation-bar/ -->