<!DOCTYPE html>
<html>
	<main>

		<head>
			<title> ML Team 3</title>
			<link rel = "stylesheet" href = "styles/main.css">
		</head>

		<body>
			<header>
						<nav>
							<div class = "navbar">
								<a href = "#"> Home </a> <!--- Current Directory aka Home Page -->
								<a href = "jermaine"> Jermaine </a>
								<a href = "sean"> Sean </a>
								<a href = "simon"> Simon </a>
								<a href = "trenton"> Trenton </a>
								<a href = "weather"> Choose Your State </a>
						</nav>

				</div>
			</header>
            <p>     This site was made as a destination finder. A user is able to input the time of year and their preferred weather
    specifications and the model will suggest locations for the user to go to that match these specifications. The model
    does this by using a Voting classifier compiled of a handful of different model all optimized for this task. The models
    are trained on a large weather dataset that includes specific locations, temperature, time of year, time of day, and other
    more specific weather features (pressure, humidity, precipitation, etc.). </p>
        </body>
    </main>
</html>

<!-- Source Code for Navbar below: -->
<!-- https://www.geeksforgeeks.org/bootstrap-navigation-bar/ -->