<!DOCTYPE html>
<html>
	<main>

		<head>
			<title> ML Team 3</title>
			<link rel = "stylesheet" href = "styles/main.css">
		</head>

		<body>
			<header>
						<nav>
							<div class = "navbar">
								<a href = "/"> Home </a>
								<a href = "#"> Jermaine </a> <!--- Current Directory -->
								<a href = "sean"> Sean </a>
								<a href = "simon"> Simon </a>
								<a href = "trenton"> Trenton </a>
								<a href = "weather"> Choose Your State </a>
						</nav>
							<p>THis is Jermaine's Page </p>
				</div>
			</header>

        </body>
    </main>
</html>