<!DOCTYPE html>
<html>
	<main>

		<head>
			<title> ML Team 3</title>
			<link rel = "stylesheet" href = "styles/main.css">
		</head>

		<body>
			<header>
						<nav>
							<div class = "navbar">
								<a href = "/"> Home </a>
								<a href = "jermaine"> Jermaine</a>
								<a href = "#"> Sean </a> <!--- Current Directory -->
								<a href = "simon"> Simon </a>
								<a href = "trenton"> Trenton </a>
								<a href = "weather"> Choose Your State </a>
						</nav>
				
				<p> Currently on Sean's page </p>

				</div>
			</header>
        </body>
    </main>
</html>
