<!DOCTYPE html>
<html>
	<main>

		<head>
			<title> ML Team 3</title>
			<link rel = "stylesheet" href = "styles/main.css">
		</head>

		<body>
			<header>
						<nav>
							<div class = "navbar">
								<a href = "base2.html"> Home </a>
								<a href = "jermaine.html"> Jermaine</a>
								<a href = "sean.html"> Sean </a>
								<a href = "#"> Simon </a> <!--- Current Directory -->
								<a href = "trenton.html"> Trenton </a>
								<a href = "weather.html"> Choose Your State </a>
						</nav>

				<p> Currently on Simon's page </p>

				</div>
			</header>
        </body>
    </main>
</html>
