<!-- This file will be a linkage too the -->

<!DOCTYPE html>
<html>
	<main>

		<head>
			<title> ML Team 3</title>
			<link rel = "stylesheet" href = "styles/main.css">
		</head>

		<body>
			<header>
						<nav>
							<div class = "navbar">
								<a href = "base2.html"> Home </a>
								<a href = "jermaine.html"> Jermaine</a>
								<a href = "sean.html"> Sean </a>
								<a href = "simon"> Simon </a>
								<a href = "trenton.html"> Trenton </a>
								<a href = "#"> Choose Your State </a> <!--- Current Directory -->
						</nav>
								<! --- Form to input weather that -->
			<div class = "weather-form" post ="model">
				<form class = "form">
					<h1 class = "form-title">Choose Your Weather </h1>
					<!-- temperature are based on the cities presented in the data  -->
						<h4 class = "question-one"> Enter in preferred temperature </h4>
					<input value = "state">
					<!-- Weather are based on the cities presented in the data, options will be added later -->
						<h4 class = "question-two"> Enter in preferred Weather </h4>
					<input value = "city">
					<!-- Weather conditions is based on the weather data so needs to be changed later-->
						<h4 class = "question-three"> Enter in your preferred weather condition. </h4>
							<select name = weather-condition>
								<option value = "sunny"> Sunny </option>
								<option value = "cloudy"> Cloudy </option>
								<option value = "cloudy"> Rainy </option>
								<option value = "snowy"> Snowy </option>
							</select>
					<!-- Space between the formssss -->
					<br>
					<br>
					<button type = "submit"> Predict </button>
				</form>
			</div>
				</div>
			</header>
        </body>
    </main>
</html>

